<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Voting system admin page</title>
</head>
<body>
    <div class="main">
        <div class="heading">Voting system admin page.</div>
        <div class="votingControl">
            <div class="headingSmall">Voting control</div>
            <button style="background-color: rgba(255, 0, 127, 100%);">RESET ALL VOTES</button>
            <button>1. vote active</button>
            <button>1. vote passive</button>
            <button>2. vote active</button>
            <button>2. vote passive</button>
            <button>3. vote active</button>
            <button>3. vote passive</button>
            <button>4. vote active</button>
            <button>4. vote passive</button>
        </div>
        <div class="votingControl">
            <div class="headingSmall">Winner control</div>
            <button style="background-color: rgba(255, 0, 127, 100%);">CLEAR SCREEN</button>
            <button>1 song</button>
            <button>2 songs</button>
            <button>3 songs</button>
            <button>Alain</button>
            <button>Ben</button>
            <button>Colby</button>
            <button>Georgia</button>
            <button>Gerardo</button>
            <button>Gus</button>
            <button>Maria</button>
            <button>Sayaka</button>
            <button>Will</button>
            <button>Yukiko</button>
            <button>Yuta</button>
        </div>
    </div>
</body>
</html>