<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
    <title>UI of the voting system</title>
</head>
<body>
<div class="main">
    <div class="link voting"><a href="/voting">HÄÄLETAMINE / <br>VOTING</a></div>
    <div class="link filter"><a href="https://mywebar.com/p/fairy_around45o23p77vq" class="active">ESIMENE FILTER /<br> FIRST FILTER</a></div>
    <div class="link filter"><a href="https://mywebar.com/p/fairy_around7prj4qqf9f" class="active">TEINE FILTER /<br> SECOND FILTER</a></div>
</div>
</body>
</html>